/* Footer.module.css */

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #282c34;
    color: white;
    padding: 1.2rem;
    text-align: center;
    height: 5rem;
    margin-top: 2rem;

}

.footer ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 2rem;
    
    justify-content: space-around;
    
}

.footer ul a {
    margin-right: 1.2rem;
}

.footer ul a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.footer ul li {
   
    margin-right: 20px;
}

.footer ul li:last-child {
    margin-right: 0;
}

.footer p {
    font-size: 1.4rem;
}

.footer a {
    color: #61dafb;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        height: auto;
        padding: 0.5rem;
    }
    .footer ul {
        margin-top: 0.5rem;
        
    }

    .footer p {
        font-size: 1.2rem;
        
    }
}



