.footer {
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin-top: 50px;
    padding-right: 100px;
    padding-top: 10px;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.479);
    color:rgb(255, 233, 233);
    height: 100%;

      
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content:center;
    margin: 25px;

}

.footer a {
    color: rgb(0, 5, 8) !important;
    text-decoration: none;
}

.footer li {
    margin-left: 15px;
}
.footer li:hover{
    color: aqua;
}

.footer p {
    margin: 20px;
    color: rgb(0, 5, 8) !important;
    font-weight: 700;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

@media (max-width: 768px) {
    .footer {
        width:100%;
    }



