.footer {
    display: flex;
    justify-content:space-between;
    margin-top: 50px;
    padding-right: 100px;
    padding-top: 10px;
    filter: drop-shadow(2px 2px  rgb(0, 0, 0));
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0.2);
    color:rgb(255, 233, 233);

      
}

.footer ul {
    list-style: none;
    display: flex;
    justify-content:center;
    margin: 25px;

}

.footer a {
    color: aliceblue !important;
}

.footer li {
    margin-left: 15px;
}
.footer li:hover{
    font-size: 50px;
}

.footer p {
    margin: 25px;
}

