.presentation{
    text-align: left;
    margin-left: 10%;
    font-size: 20px;
}

.presentation h1{
    font-size: 50px;
}

.presentation p{
    font-weight: bolder;
    
    
}

.word {
    background-color: rgb(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
    .presentation {
        text-align: center;
        margin-left: 0;
        padding: 0 10px;
        /* Adicionando um pequeno preenchimento para evitar que o texto fique muito próximo das bordas */
        font-size: 18px;
        /* Reduzindo o tamanho da fonte para dispositivos móveis */
    }

    .presentation h1 {
        font-size: 40px;
        /* Reduzindo o tamanho da fonte do título */
    }

    .presentation p {
        font-weight: normal;
        /* Removendo o peso da fonte bolder */
    }
}