.projects h1 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 600;
    line-height: 1em;
    font-size: 80px;
    background: linear-gradient(180deg, #ffffff, #000000bb); 
    background-clip: text;
    color: transparent;
    margin-right: 60%;
    margin-bottom: 10px;
    padding-bottom: 20px;
    
}




