.btn{
    background-color: #74FAC0;
    border: none;
    width: 300px;
    height: 40px;   
    border-radius: 15px;
    font-size: 15px;
    font-weight:bolder;
    cursor: pointer;
    display: inline-block;

}

.btn:hover{
    color: aliceblue;
    background-color: #010616;
    transform: translateY(-7px);
    transition-duration: 0.6s;
}

@media screen and (max-width: 768px) {
    .btn {
        width: 150px;
        /* Reduzindo ainda mais a largura do botão */
        font-size: 12px;
        /* Reduzindo ainda mais o tamanho da fonte */
    }
}